<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muzi.system.mapper.PermissionMapper">

    <select id="getUserMenu" parameterType="String" resultType="com.muzi.system.entity.MenuTree">
        select
            DISTINCT
            E.id,
            E.permission_icon as icon,
            E.permission_url as `index`,
            E.permission_name as title,
            E.permission_parentid as parentFlag
        from
            t_user A inner join t_user_role B on (A.id = B.user_id)
                     inner join t_role C on (B.role_id = C.id)
                     inner join t_role_permission D on (C.id = D.role_id)
                     inner join t_permission E on (D.permission_id = E.id)
        where A.username = #{username}
            and A.status = 1
            and C.status = 1
            and E.status = 1
    </select>

</mapper>
